[submodule "mosaic-mcp"]
	path = mosaic-mcp
	url = https://git.mosaicstack.dev/mosaic/mosaic-mcp.git
[submodule "mosaic"]
	path = mosaic
	url = https://git.mosaicstack.dev/mosaic/mosaic.git
[submodule "mosaic-dev"]
	path = mosaic-dev
	url = https://git.mosaicstack.dev/mosaic/mosaic-dev.git
[submodule "tony"]
	path = tony
	url = https://git.mosaicstack.dev/mosaic/tony.git
[submodule "mosaic-docs"]
	path = mosaic-docs
	url = https://git.mosaicstack.dev/mosaic/mosaic-docs.git
