[submodule "mosaic-mcp"]
	path = mosaic-mcp
	url = https://github.com/jetrich/mosaic-mcp
[submodule "mosaic"]
	path = mosaic
	url = https://github.com/jetrich/mosaic
[submodule "mosaic-dev"]
	path = mosaic-dev
	url = https://github.com/jetrich/mosaic-dev
[submodule "tony"]
	path = tony
	url = https://github.com/jetrich/tony.git
